<section class="mat-typography">

  <mat-tab-group *ngIf="!loading">

    <mat-tab label="Delivery Mode">
      <mat-list>
        <ng-container *ngFor="let item of delivery_modes">
            <mat-list-item>{{item.name}}
              <button class="ml-5"mat-raised-button title="Delete Attribute" [swal]="{ title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true }"
                (confirm)="deleteDM(item._id)"
                color="primary" [disabled]="loading">
                <i class="fa fa-trash " *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
              </button></mat-list-item>
        </ng-container>
      </mat-list>
    </mat-tab>

    <mat-tab label="Interaction">
      <mat-list>
        <ng-container *ngFor="let item of interactions">
            <mat-list-item>{{item.name}}
              <button class="ml-5"mat-raised-button title="Delete Attribute" [swal]="{ title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true }"
                (confirm)="deleteINT(item._id)"
                color="primary" [disabled]="loading">
                <i class="fa fa-trash " *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
              </button></mat-list-item>
        </ng-container>
      </mat-list>
    </mat-tab>

    <mat-tab label="Resolution Scope">
      <mat-list>
        <ng-container *ngFor="let item of reso_scopes">
            <mat-list-item>{{item.name}}
              <button class="ml-5"mat-raised-button title="Delete Attribute" [swal]="{ title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true }"
                (confirm)="deleteRS(item._id)"
                color="primary" [disabled]="loading">
                <i class="fa fa-trash " *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
              </button></mat-list-item>
        </ng-container>

      </mat-list>
    </mat-tab>

    <mat-tab label="Social Objectives">
      <mat-list>
        <ng-container *ngFor="let item of social">
            <mat-list-item>{{item.name}}
              <button class="ml-5"mat-raised-button title="Delete Attribute" [swal]="{ title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true }"
                (confirm)="deleteSO(item._id)"
                color="primary" [disabled]="loading">
                <i class="fa fa-trash " *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
              </button></mat-list-item>
        </ng-container>
      </mat-list>
    </mat-tab>

    <mat-tab label="Affective Objectives">
      <mat-list>
        <ng-container *ngFor="let item of affective">
            <mat-list-item>{{item.category}} : {{item.verb}}
              <button class="ml-5"mat-raised-button title="Delete Attribute" [swal]="{ title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true }"
                (confirm)="deleteAF(item._id)"
                color="primary" [disabled]="loading">
                <i class="fa fa-trash " *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
              </button></mat-list-item>
        </ng-container>
      </mat-list>
    </mat-tab>

    <mat-tab label="Behaviour">
      <mat-list>
        <ng-container *ngFor="let item of behaviour_cat">
            <mat-list-item>{{item.category}} : {{item.verb}}
              <button class="ml-5"mat-raised-button title="Delete Attribute" [swal]="{ title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true }"
                (confirm)="deleteBH(item._id)"
                color="primary" [disabled]="loading">
                <i class="fa fa-trash " *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
              </button></mat-list-item>
        </ng-container>
      </mat-list>
    </mat-tab>

    <mat-tab label="Task Types">
      <mat-list>
        <ng-container *ngFor="let item of task_types">
            <mat-list-item>{{item.category}} : {{item.verb}}
              <button class="ml-5"mat-raised-button title="Delete Attribute" [swal]="{ title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true }"
                (confirm)="deleteTT(item._id)"
                color="primary" [disabled]="loading">
                <i class="fa fa-trash " *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
              </button></mat-list-item>
        </ng-container>
      </mat-list>
    </mat-tab>

  </mat-tab-group>


  <div align="center" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</section>
