<h1 mat-dialog-title>Technique(s)</h1>
<div mat-dialog-content>
  <div class="form-group row">
    <mat-card class="example-card" *ngFor="let item of data">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>{{item.description}}<br/></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-label><b>Rules:</b></mat-label>
      {{item.rules}}<br/>

      <mat-label><b>Delivery Mode:</b></mat-label>
      {{item.delivery_mode}}<br/>

      <mat-label><b>Interaction:</b></mat-label>
      {{item.interaction}}<br/>

      <mat-label><b>Interrelationship:</b></mat-label>
      {{item.interrelationship}}<br/>

      <mat-list>
      <mat-label><b>Learning Objectives</b></mat-label><br/>

      <mat-list-item *ngFor="let lo of item.learning_objectives">{{lo.knowledge_category}}  {{lo.behaviour}}</mat-list-item>
      </mat-list>




    </mat-card-content>
  </mat-card>
  </div>






</div>
