<h1 mat-dialog-title>Recommended Techniques</h1>
<div mat-dialog-content>

  <mat-card class="example-card" *ngFor="let item of data">
  <mat-card-header>
    <mat-card-title>{{item.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-label><b>Description:</b></mat-label>
    {{item.description}}<br/>

    <mat-label><b>Rules:</b></mat-label>
    {{item.rules}}<br/>

    <mat-label><b>Delivery Mode:</b></mat-label>
    {{item.delivery_mode}}<br/>

    <mat-label><b>Interaction:</b></mat-label>
    {{item.interaction}}<br/>

    <mat-label><b>Interrelationship:</b></mat-label>
    {{item.interrelationship}}<br/>

    <mat-list>
    <mat-label><b>Learning Objectives</b></mat-label><br/>

     <mat-list-item *ngFor="let lo of item.learning_objectives">{{lo.knowledge_category}}  {{lo.behaviour}}</mat-list-item>
    </mat-list>




  </mat-card-content>
</mat-card>



</div>
