<section class="mat-typography">
  <div class="example-container mat-elevation-z2">

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="goal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Goal </th>
        <td mat-cell *matCellDef="let element"> {{element.goal}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created</th>
        <td mat-cell *matCellDef="let element"> {{element.date | formatDate: 'DD/MM/YYYY HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" title="Edit Project" [routerLink]="['/projects', element._id, 'edit']" [disabled]="loading || !(authService.hasRole('professor')) || !((authService.isOwner(element.project_manager.email) || authService.isCollab(element.teachers)))">
            <i class="fa fa-edit" *ngIf="!loading"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="copy">
        <th mat-header-cell *matHeaderCellDef> Copy</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" title="Copy Project" [routerLink]="['/projects', element._id, 'copy']" [disabled]="loading || !(authService.hasRole('professor')) || !(element.canCopy)">
            <i class="fa fa-copy" *ngIf="!loading"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button title="Delete Project" [swal]="{ title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true }"
            (confirm)="deleteProject(element._id)"
            color="primary" [disabled]="loading || !(authService.hasRole('professor')) || !(authService.isOwner(element.project_manager.email))">
            <i class="fa fa-trash " *ngIf="!loading"></i>
            <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="recomendations">
        <th mat-header-cell *matHeaderCellDef> Recommendations</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" title="Get Recommendations" [disabled]="loading || !(element.status == 'In Development') || !(authService.hasRole('professor')) || !(authService.isOwner(element.project_manager.email) || authService.isCollab(element.teachers))" [routerLink]="['/projects', element._id, 'recommend']">
            <i class="fas fa-award" *ngIf="!loading"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
        </td>
      </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div align="center" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div align="center" class="form-group p-4 alert alert-info" role="alert" *ngIf="projects && projects.length == 0">
    No projects were found
  </div>

  </div>

</section>
