<section class="mat-typography">


  <div class="example-container">

    <form (ngSubmit)="create()">

      <mat-accordion multi="true">
        <div class="row p-2">
          <div class="col-sm">
            <button type="button" mat-raised-button class="btn btn-primary float-right" (click)="showHelp()">
              <i class="fas fa-question"></i>
              Help
            </button>
          </div>

        </div>
        <mat-expansion-panel   hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Delivery Mode
            </mat-panel-title>
            <mat-panel-description>
              Add new delivery modes
            </mat-panel-description>
          </mat-expansion-panel-header>


          <div class="example-form">
            <mat-form-field appearance="outline" class="form-full-width">
              <mat-label>Delivery Mode</mat-label>
              <input matInput type="text" name="delivery" placeholder="Delivery Mode" [(ngModel)]="delivery_mode" >
            </mat-form-field>

            <div class="button-container">
              <button type="button" mat-raised-button matTooltip="Add new Delivery Mode" class="btn btn-success " [disabled]="delivery_mode == '' || loading" (click)="addDelivery()">
                <i class="fa fa-plus" *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                Add
              </button>
            </div>

            <table *ngIf="delivery_modes.length != 0" class="table table-borderless table-hover table-responsive">

              <tr *ngFor="let item of delivery_modes; let number = index">
                <td>{{item.name}}</td>
                <td>
                  <button type="button" mat-raised-button class="btn btn-danger float-right" (click)="deleteDM(number)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>

            </table>
          </div>
        </mat-expansion-panel>


        <mat-expansion-panel  hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Interaction
            </mat-panel-title>
            <mat-panel-description>
              Add new interaction types
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="example-form">
            <mat-form-field appearance="outline" class="form-full-width">
              <mat-label>Interaction</mat-label>
              <input matInput type="text" name="delivery" placeholder="Interaction" #interact="ngModel" [(ngModel)]="interaction" >
            </mat-form-field>
            <div class="button-container">
              <button type="button" mat-raised-button class="btn btn-success" [disabled]="interaction == '' || loading" (click)="addInteraction()">
                <i class="fa fa-plus" *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                Add
              </button>
            </div>

            <table *ngIf="interactions.length != 0" class="table table-borderless table-hover table-responsive">

              <tr *ngFor="let item of interactions; let number = index">
                <td>{{item.name}}</td>
                <td>
                  <button type="button" mat-raised-button class="btn btn-danger float-right" (click)="deleteINT(number)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>

            </table>

          </div>
        </mat-expansion-panel>

        <mat-expansion-panel   hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Resolution Scope
            </mat-panel-title>
            <mat-panel-description>
              Add new resolution scopes
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="example-form">
            <mat-form-field appearance="outline" class="form-full-width">
              <mat-label>Resolution Scope</mat-label>
              <input matInput type="text" name="resolution_scope" placeholder="Resolution Scope" #resolution="ngModel" [(ngModel)]="resolution_scope" >
            </mat-form-field>
            <div class="button-container">
              <button type="button" mat-raised-button class="btn btn-success" [disabled]="resolution_scope == '' || loading" (click)="addResolution()">
                <i class="fa fa-plus" *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                Add
              </button>
            </div>
            <table *ngIf="reso_scopes.length != 0" class="table table-borderless table-hover table-responsive">

              <tr *ngFor="let item of reso_scopes; let number = index">
                <td>{{item.name}}</td>
                <td>
                  <button type="button" mat-raised-button class="btn btn-danger float-right" (click)="deleteRS(number)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>

            </table>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel   hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Social Objective
            </mat-panel-title>
            <mat-panel-description>
              Add new social objectives
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="example-form">

            <mat-form-field appearance="outline" class="form-full-width">
              <mat-label>Social Objective</mat-label>
              <input matInput type="text" name="social_objectives" placeholder="Social Objective"  [(ngModel)]="social_objectives" >
            </mat-form-field>

            <div class="button-container">
              <button type="button" mat-raised-button class="btn btn-success  " [disabled]="social_objectives == '' || loading" (click)="addSocial()">
                <i class="fa fa-plus" *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                Add
              </button>
            </div>

            <table *ngIf="social.length != 0" class="table table-borderless table-hover table-responsive">

              <tr *ngFor="let item of social; let number = index">
                <td>{{item.name}}</td>
                <td>
                  <button type="button" mat-raised-button class="btn btn-danger float-right" (click)="deleteSO(number)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>

            </table>

          </div>

        </mat-expansion-panel>

        <mat-expansion-panel   hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Affective Objective
            </mat-panel-title>
            <mat-panel-description>
              Add new affective objectives
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="example-form">


            <div class="form-group row">
              <div class="col">
                <mat-form-field appearance="outline" class="form-full-width">
                  <mat-label>Category</mat-label>
                  <mat-select #affective_cat="ngModel" placeholder="Category" name="affective_cat" [(ngModel)]="affective_category">
                    <mat-option value="Internalizing Values">Internalizing Values</mat-option>
                    <mat-option value="Organization">Organization</mat-option>
                    <mat-option value="Receiving Phenomena">Receiving Phenomena</mat-option>
                    <mat-option value="Responding to Phenomena">Responding to Phenomena</mat-option>
                    <mat-option value="Valuing">Valuing</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="outline" class="form-full-width">
                  <mat-label>Verb</mat-label>
                  <input matInput type="text" placeholder="Verb" name="affective_verb"  [(ngModel)]="affective_verb">
                </mat-form-field>
              </div>
            </div>

            <div class="button-container">
              <button type="button" mat-raised-button class="btn btn-success" [disabled]="affective_verb == '' || affective_category == '' || loading" (click)="addAffective()">
                <i class="fa fa-plus" *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                Add
              </button>
            </div>

            <table *ngIf="affective.length != 0" class="table table-borderless table-hover table-responsive">
              <tr *ngFor="let item of affective; let number = index">
                <td>{{item.category}}</td>
                <td>{{item.verb}}</td>
                <td>
                  <button type="button" mat-raised-button class="btn btn-danger float-right" (click)="deleteAO(number)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>

            </table>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel   hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Behaviour
            </mat-panel-title>
            <mat-panel-description>
              Add new behaviour types
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="example-form">
              <div class="form-group row">
                <div class="col">
                  <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Category</mat-label>
                    <mat-select #behaviour_cate="ngModel"  placeholder="Category" name="behaviour_cate" [(ngModel)]="behaviour_category">
                      <mat-option value="Remember">Remember</mat-option>
                      <mat-option value="Understand">Understand</mat-option>
                      <mat-option value="Apply">Apply</mat-option>
                      <mat-option value="Analise">Analise</mat-option>
                      <mat-option value="Evaluate">Evaluate</mat-option>
                      <mat-option value="Create">Create</mat-option>
                    </mat-select>
                  </mat-form-field >
                </div>
                <div class="col">
                  <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Verb</mat-label>
                    <input matInput type="text" #behaviour="ngModel" placeholder="Verb" name="behaviour_verb"  [(ngModel)]="behaviour_verb">
                  </mat-form-field>
                </div>
            </div>
            <div class="button-container">
              <button type="button" mat-raised-button class="btn btn-success  " [disabled]="behaviour_verb == '' || behaviour_category == '' || loading" (click)="addBehaviour()">
                <i class="fa fa-plus" *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                Add
              </button>
            </div>
            <table *ngIf="behaviour_cat.length != 0" class="table table-borderless table-hover table-responsive">

              <tr *ngFor="let item of behaviour_cat; let number = index">
                <td>{{item.category}}</td>
                <td>{{item.verb}}</td>
                <td>
                  <button type="button" mat-raised-button class="btn btn-danger float-right" (click)="deleteBH(number)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>

            </table>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel  hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Task type
            </mat-panel-title>
            <mat-panel-description>
              Add new task types
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="example-form">

              <div class="form-group row">
                <div class="col">
                  <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Category</mat-label>
                    <input matInput type="text" placeholder="Category" #category="ngModel" name="task_category"  [(ngModel)]="task_category">
                  </mat-form-field>
                </div>


                <div class="col">
                  <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Verb</mat-label>
                    <input matInput type="text" placeholder="Verb" #verb="ngModel" name="task_verb"  [(ngModel)]="task_verb">
                  </mat-form-field>
                </div>
              </div>
              <div class="button-container">
                <button type="button" mat-raised-button class="btn btn-success" [disabled]="task_category == '' || task_verb == '' || loading" (click)="addTask()">
                  <i class="fa fa-plus" *ngIf="!loading"></i>
                  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  Add
                </button>
              </div>

            <table *ngIf="task_types.length != 0" class="table table-borderless table-hover table-responsive">

              <tr *ngFor="let item of task_types; let number = index">
                <td>{{item.category}}</td>
                <td>{{item.verb}}</td>
                <td>
                  <button type="button" mat-raised-button class="btn btn-danger float-right" (click)="deleteTT(number)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>

            </table>
          </div>
        </mat-expansion-panel>

      </mat-accordion>

      <div class="button-container">
        <button type="submit" mat-raised-button class="btn btn-success" [disabled]="loading">
          <i class="fa fa-save" *ngIf="!loading"></i>
          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          Save
        </button>
      </div>


    </form>


  </div>

</section>
