
<div class="example-container mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>



    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="button-row">

          <button mat-raised-button color="primary" title="Edit Technique" [routerLink]="['/techniques', element._id, 'edit']" *ngIf="authService.hasRole('psicologo_escolar') && (authService.isOwner(element.psychologist))">
            <i class="fa fa-edit"></i>
          </button>

          <button mat-raised-button title="Delete Technique" [swal]="{ title: 'Are you sure?',
          text: 'You won\'t be able to revert this!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!',
          reverseButtons: true }"
          (confirm)="deleteTechnique(element._id)"
          color="primary" [disabled]="loading" *ngIf="authService.hasRole('psicologo_escolar') && authService.isOwner(element.psychologist)">
          <i class="fa fa-trash " *ngIf="!loading"></i>
          <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
        </button>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div align="center" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div align="center" class="form-group p-4 alert alert-info" role="alert" *ngIf="techniques && techniques.length == 0">
  No techniques were found
</div>

</div>
