<div class="modal-header bg-primary">
    <h4 class="modal-title pull-left">Learning Objectives</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped table-sm table-hover">
                <thead>
                    <tr>
                        <th>Knowledge Category</th>
                        <th>Behaviour</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let learningobjective of learning_objectives">
                        <td>{{learningobjective.knowledge_category}}</td>
                        <td>{{learningobjective.behaviour}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">
        <i class="fa fa-times-circle"></i> Close
    </button>
</div>
