<section class="mat-typography">

  <div class="container">
    <mat-card>
      <mat-card-header>
        <button  type="button" mat-raised-button class="btn btn-primary float-right" (click)="showHelp()">
          <i class="fas fa-question"></i>
          Help
        </button>
      </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="f.valid && create()" novalidate #f="ngForm">

      <mat-vertical-stepper>
        <mat-step label="Technique info">
          <div class="form-group row">
            <div class="col">
              <mat-form-field appearance="outline" class="form-full-width" >
                <mat-label>Technique Name</mat-label>
                <input matInput #name="ngModel" type="text" name="name" placeholder="Technique Name" [(ngModel)]="form.name"   [ngClass]="{'is-invalid': isInvalid(name)}">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="form-full-width">
                <mat-label>Technique Description</mat-label>
                <input matInput #description="ngModel" type="text" name="description" placeholder="Technique Description" [(ngModel)]="form.description"  [ngClass]="{'is-invalid': isInvalid(description)}">
              </mat-form-field>
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
                <mat-form-field appearance="outline" class="form-full-width">
                  <mat-label>Rules</mat-label>
                  <input matInput #rules="ngModel" type="text"  name="rules" placeholder="Rules" [(ngModel)]="rule"  [ngClass]="{'is-invalid': isInvalid(rules)}">
                </mat-form-field>
                <div class="button-container">
                  <button type="button" mat-raised-button class="btn btn-success"  title="Add new rule" (click)="addField(rules)" [disabled]="loading || rule == ''">
                    <i class="fa fa-plus" *ngIf="!loading"></i>
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                </div>
                <div class="form-group">
                  <div class="col">
                    <table *ngIf="form.rules.length != 0" class="table table-borderless table-hover table-responsive">
                      <tr *ngFor="let item of form.rules; let number = index">
                        <td>{{item}}</td>
                        <td>
                          <button type="button" mat-raised-button class="btn btn-danger float-right" (click)="removeField(number, rules)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
            </div>

            <div class="col">
              <mat-form-field appearance="outline" class="form-full-width">
                <mat-label>Target Audience</mat-label>
                <input matInput #target_audience="ngModel" type="number"  name="target_audience" min="5" [(ngModel)]="target"  [ngClass]="{'is-invalid': isInvalid(target_audience)}">
              </mat-form-field>
              <div class="button-container">
                <button type="button" mat-raised-button class="btn btn-success"  (click)="addField(target_audience)" [disabled]="loading">
                  <i class="fa fa-plus" *ngIf="!loading"></i>
                  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                </button>
              </div>
              <div class="form-group">
                <div class="col">
                  <table *ngIf="form.target_audience.length != 0" class="table table-borderless table-hover table-responsive">
                    <tr *ngFor="let item of form.target_audience; let number = index">
                      <td>{{item}}</td>
                      <td>
                        <button type="button" mat-raised-button class="btn btn-danger float-right" (click)="removeField(number, target_audience)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

          </div>
          </mat-step>
          <mat-step label="Technique Specifications">
            <div class="form-group row">
              <div class="col">
                <mat-label><h4>Delivery Mode</h4></mat-label>
                <mat-selection-list name="dm "#dm [(ngModel)]="form.delivery_mode">
                  <mat-list-option [value]="delivery" *ngFor="let delivery of delivery_modes">
                    {{delivery}}
                  </mat-list-option>
                </mat-selection-list>
              </div>

              <div class="col">
                <mat-label><h4>Resolution Scope</h4></mat-label>
                <mat-selection-list name="rs "#rs [(ngModel)]="form.resolution_scope">
                  <mat-list-option [value]="reso" *ngFor="let reso of reso_scopes">
                    {{reso}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <mat-label><h4>Interaction</h4></mat-label>
                <mat-selection-list name="inte" #inte [(ngModel)]="form.interaction">
                  <mat-list-option [value]="int" *ngFor="let int of interactions">
                    {{int}}
                  </mat-list-option>
                </mat-selection-list>
              </div>

              <div class="col">
                <mat-label><h4>Feedback Use</h4></mat-label>
                <mat-selection-list name="fbuse" #fbuse [(ngModel)]="form.feedback_use">
                  <mat-list-option [value]="item" *ngFor="let item of assess">
                    {{item}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>

          </mat-step>

          <mat-step label="Educator's Perception">
            <div class="form-group row">
              <div class="col">
                <mat-label><h4>Interrelationship</h4></mat-label>
                <mat-selection-list name="inter" #inter [(ngModel)]="form.interrelationship">
                  <mat-list-option [value]="item" *ngFor="let item of assess">
                    {{item}}
                  </mat-list-option>
                </mat-selection-list>
              </div>

              <div class="col">
                <mat-label><h4>Motivation</h4></mat-label>
                <mat-selection-list name="motiv" #motiv [(ngModel)]="form.motivation">
                  <mat-list-option [value]="item" *ngFor="let item of assess">
                    {{item}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <mat-label><h4>Participation</h4></mat-label>
                <mat-selection-list name="part" #part [(ngModel)]="form.participation">
                  <mat-list-option [value]="item" *ngFor="let item of assess">
                    {{item}}
                  </mat-list-option>
                </mat-selection-list>
              </div>

              <div class="col">
                <mat-label><h4>Performace</h4></mat-label>
                <mat-selection-list name="perf" #perf [(ngModel)]="form.performance">
                  <mat-list-option [value]="item" *ngFor="let item of assess">
                    {{item}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
          </mat-step>


          <mat-step label="Learning Objectives">
            <div class="button-container">
              <button mat-raised-button type="button" class="btn btn-success"  (click)="addLearningObjective()" [disabled]="loading">
                <i class="fa fa-plus " *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
                Add Learning Objective
              </button>
            </div>

            <div class="form-group p-4">
              <table *ngIf="form.learning_objectives.length != 0" class="table table-borderless table-hover table-responsive">
                <thead>
                  <tr>
                    <th>Knowledge Category</th>
                    <th>Behaviour</th>
                    <th>Subject Matter</th>
                    <th>Conditions</th>
                    <th>Degree</th>
                    <th>Actions</th>
                  </tr>

                </thead>

                <tr *ngFor="let lo of form.learning_objectives; let number = index">
                  <td>{{lo.knowledge_category}}</td>
                  <td>{{lo.behaviour}}</td>
                  <td>{{lo.subject_matter}}</td>
                  <td>{{lo.conditions}}</td>
                  <td>{{lo.degree}}</td>
                  <td>
                    <div class="button-row">
                      <button type="button" mat-raised-button class="btn btn-primary" (click)="editLO(number)">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" mat-raised-button class="btn btn-danger" (click)="deleteLO(number)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>

              </table>
            </div>

            <div *ngIf="form.learning_objectives.length == 0" class="form-group p-4 alert alert-info" role="alert">
              You need to add at least one Learning Objective.
            </div>
            <div>
                                        </div>
          </mat-step>



        <mat-step label="Affective Objectives" optional>

          <div class="form-group">
            <div class="col">
              <mat-form-field appearance="outline" class="form-full-width">
                <mat-label>Affective Objective</mat-label>
                <mat-select #affectiveobj="ngModel"  name="affectiveobj" [(ngModel)]="ao">
                  <mat-option *ngFor="let item of affective" [value]="item.category + ':' + ' ' + item.verb">{{item.category}}: {{item.verb}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="button-container">
            <button type="button" mat-raised-button class="btn btn-success"  (click)="addAffectiveObjective()" [disabled]="loading || ao == ''">
              <i class="fa fa-plus " *ngIf="!loading"></i>
              <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
              Add Affective Objective
            </button>
          </div>

          <div class="form-group">
            <div class="col">
              <table *ngIf="form.affective_objectives.length != 0" class="table table-borderless table-hover table-responsive">

                <tr *ngFor="let ao of form.affective_objectives; let number = index">
                  <td>{{ao}}</td>
                  <td>
                    <button type="button" mat-raised-button class="btn btn-danger float-right" (click)="deleteAO(number)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>

              </table>
            </div>

          </div>

          <div>
                                  </div>
        </mat-step>



      <mat-step label="Social Objectives" optional>
        <div class="form-group">
          <div class="col">
            <mat-form-field appearance="outline" class="form-full-width">
              <mat-label>Social Objective</mat-label>
              <mat-select #socialobj="ngModel"  name="socialobj" [(ngModel)]="so">
                <mat-option *ngFor="let item of social" [value]="item.name">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="button-container">
          <button type="button" mat-raised-button class="btn btn-success"  (click)="addSocialObjective()" [disabled]="loading || so == ''">
            <i class="fa fa-plus" *ngIf="!loading"></i>
            <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
            Add Social Objective
          </button>
        </div>
        <div class="form-group">
          <div class="col">
            <table *ngIf="form.social_objectives.length != 0" class="table table-borderless table-hover table-responsive">
              <tr *ngFor="let so of form.social_objectives; let number = index">
                <td>{{so}}</td>
                <td>
                  <button type="button" mat-raised-button class="btn btn-danger float-right" (click)="deleteSO(number)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>

            </table>
          </div>
        </div>
        <div>
                            </div>
      </mat-step>

      <mat-step label="Technique Structure" [stepControl]="techniqueStruct">

          <ng-form [formGroup]="techniqueStruct" >
            <div formArrayName="modules" class="form-group">
              <div *ngFor="let X of techniqueStruct['controls'].modules['controls']; let imod=index"class="form-group">
                <div formGroupName="{{imod}}" class="form-group">
                  <div class="button-container">
                    <button type="button" mat-raised-button class="btn btn-danger" (click)="deleteMod(imod)" >
                      <i class="fa fa-trash " ></i>
                      Delete Module
                    </button>
                  </div>
                  <div class="form-group row">
                    <div class="col mt-3">
                      <mat-form-field appearance="outline" class="form-full-width">
                        <mat-label>Module Name</mat-label>
                        <input matInput type="text" placeholder="Module Name" formControlName="name" required>
                        <mat-error>This field is required.</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="button-container">
                    <button type="button" mat-raised-button class="btn btn-success" (click)="addPhase(imod)" >
                      <i class="fa fa-plus " ></i>
                      Add Phase
                    </button>
                  </div>

                  <div formArrayName="phases" class="form-group">
                    <div *ngFor="let Y of X['controls'].phases['controls']; let ipha=index" class="form-group">
                      <div formGroupName="{{ipha}}" class="form-group">
                      <mat-divider [inset]="true"></mat-divider>
                      <div class="button-container">
                        <button type="button" mat-raised-button class="btn btn-danger" (click)="deletePhase(imod, ipha)" >
                          <i class="fa fa-trash " ></i>
                          Delete Phase
                        </button>
                      </div>
                        <div class="form-group row">
                          <div class="col mt-3">
                          <mat-form-field appearance="outline" class="form-full-width">
                            <mat-label>Phase Name</mat-label>
                            <input matInput type="text" placeholder="Phase Name" formControlName="name" required>
                            <mat-error>This field is required.</mat-error>
                          </mat-form-field>
                          </div>
                        </div>
                        <div class="button-container">
                          <button type="button" mat-raised-button class="btn btn-success" (click)="addTask(imod,ipha)" >
                            <i class="fa fa-plus " ></i>
                            Add Task
                          </button>
                        </div>
                        <mat-divider [inset]="true"></mat-divider>
                        <div formArrayName="tasks" class="form-group">
                          <div *ngFor="let Z of Y['controls'].tasks['controls']; let itask=index" class="form-group">
                            <div formGroupName="{{itask}}" class="form-group">
                              <div class="button-container">
                                <button type="button" mat-raised-button class="btn btn-danger" (click)="deleteTask(imod, ipha, itask)" >
                                  <i class="fa fa-trash " ></i>
                                  Delete Task
                                </button>
                              </div>
                              <div class="form-group row">
                                <div class="col mt-3">
                                <mat-form-field appearance="outline" class="form-full-width">
                                  <mat-label>Task Type</mat-label>
                                  <mat-select name="task_type" formControlName="type" placeholder="Task Type" required>
                                    <mat-option *ngFor="let item of task_types" [value]="item.category + ':' + ' ' + item.verb">{{item.category}}: {{item.verb}}</mat-option>
                                  </mat-select>
                                  <mat-error>This field is required.</mat-error>

                                </mat-form-field>
                                </div>
                                <div class="col mt-3">
                                  <mat-form-field appearance="outline" class="form-full-width">
                                    <mat-label>Task Description</mat-label>
                                    <input matInput type="text" placeholder="Task description" formControlName="description" required>
                                    <mat-error>This field is required.</mat-error>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col">
                                <mat-form-field appearance="outline" class="form-full-width">
                                  <mat-label>Role</mat-label>
                                  <mat-select name="role" formControlName="role" placeholder="Role" required>
                                    <mat-option value="Student">Student</mat-option>
                                    <mat-option value="Staff">Staff</mat-option>
                                  </mat-select>
                                  <mat-error>This field is required.</mat-error>
                                </mat-form-field>
                                </div>
                                <div class="col">
                                  <mat-form-field appearance="outline" class="form-full-width">
                                    <mat-label>Resources</mat-label>
                                    <textarea matInput name="name" rows="5" cols="20" placeholder="Task Resources" formControlName="resources"></textarea>
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                            <mat-divider [inset]="true"></mat-divider>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="button-container">
                  <button type="button" mat-raised-button class="btn btn-success" (click)="addMod()" >
                    <i class="fa fa-plus " ></i>
                    Add Module
                  </button>
              </div>
            </div>

          </ng-form>


      </mat-step>

      <mat-step label="Done">
        <div class="button-container">
          <button type="submit" mat-raised-button class="btn btn-success">
            <i class="fa fa-save" *ngIf="!loading"></i>
            <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
            Save
          </button>
        </div>
      </mat-step>

        </mat-vertical-stepper>
      </form>
    </mat-card-content>

    </mat-card>
  </div>

</section>
